.body{
    background-color:white;
}
.back-1{
    background-image: url("back-1.jpg");
    width: 100vw;
    height:80vh ;
    background-size: cover;
    opacity: 10;
}
.head-1{
    
    color:white;
    padding-top: 30vh;
    padding-left: 15vw;
    text-shadow: white;
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}
.back-2{
    background-color:white;
    
}
.back-3{
    background-color:white;
    
}
.img{
    height: 400px;
    width: 400px;
    margin: 5vh;
}
.part2-heading{
    margin: 3vh;


}
.part2-para{
    margin: 3vh;
    
}
.img-2{
    margin-top: 3vh;
}
.main{
    background-color: tomato;
}
.main-head{
    text-align:center ;
    
}

