.part-1{
    background-image: url("https://res.cloudinary.com/dmejzk3co/image/upload/v1604498341/pexels-photo-414144_jxuooq.jpg");
    width: 100vw;
    height:100vh ;
    text-align: center;
    background-size: cover;
    opacity: 10;
}
html {
    scroll-behavior: smooth;
  }

.card{
    margin-right: 30%;
    margin-left: 33%;
    background-color: white;
    color: black;
    opacity: 0.5;
}

  

.img{
    width: 40px;
    height: 40px;
   
}
.nav-text{
    margin: 5px;
    font-weight: bold;
    color: black;
    
}
.center{
    font-weight: 1000;
    font-size: 100px;
    color: white;
    font-family: sans-serif;
    font-family: 'Tangerine', serif;
}
.par{
    font-size:30px ;
    font-weight: bolder;
    color: white;
}
.part-2{
    background-image: url("https://res.cloudinary.com/dmejzk3co/image/upload/v1604498341/pexels-photo-167699_dhyxok.jpg");
    width: 100vw;
    height:100vh ;
    text-align: center;
    background-size: cover;
    opacity: 10;
}
  


  


